NEXT_PUBLIC_AUTH_ENDPOINT=https://auth.groupher.localhost/api/auth
GRAPHQL_ENDPOINT=http://api.groupher.localhost:4001/graphiql
PHX_JWT_SECRET=
CONTENT_IMPORT_APP_ENDPOINT=http://127.0.0.1:8001
SERVICE_AUTH_TOKEN_ENDPOINT=http://127.0.0.1:3004/oauth2/token
SERVICE_AUTH_CLIENT_ID=dash-development
SERVICE_AUTH_CLIENT_SECRET=
SERVICE_AUTH_ISSUER=https://auth.groupher.localhost
SERVICE_AUTH_JWKS_URL=http://127.0.0.1:3004/.well-known/jwks.json
