@config '../tailwind.config.js';

@import 'tailwindcss';
@layer base, components, utilities;

@source '../..';
@source '../../../main/src';
@source '../../../dashboard/src';
@source '../../../landing/app';
@source '../../../gateway';

@import 'tailwindcss-animated';

@import './tokens';
@import './safelist';
@import './common';

@layer base {
  :root {
    text-autospace: normal;
  }

  body {
    overflow-x: hidden;
  }

  .main {
    will-change: background-color;
    background-clip: padding-box;
  }

  .masonry-cards-grid {
    display: flex;
    width: auto;
  }
  .masonry-cards-grid_column {
    background-clip: padding-box;
    padding: 8px;
  }
}
