@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .row {
    @apply flex flex-row;
  }

  .row-center {
    @apply flex flex-row items-center;
  }

  .align-both {
    @apply flex flex-row items-center justify-center;
  }

  .row-align-both {
    @apply flex flex-row items-center justify-center;
  }

  .column {
    @apply flex flex-col;
  }

  .column-center {
    @apply flex flex-col items-center;
  }

  .column-align-both {
    @apply flex flex-col items-center justify-center;
  }

  .wrap {
    @apply flex-wrap;
  }

  .pointer {
    @apply hover:cursor-pointer
  }

  .font {
    @apply text-base;
  }

  .bold {
    @apply font-semibold;
  }

  .bold-sm {
    @apply font-medium;
  }

  .show {
    @apply block;
  }

  .hide {
    @apply hidden;
  }

  .circle {
    @apply rounded-full;
  }

  .trans-all-200 {
    @apply transition-all duration-200;
  }

  .over-hide {
    @apply overflow-hidden;
  }

  .article-hover-linear::before {
    background: linear-gradient(315deg, rgba(255, 255, 255, 0) 0%, #f6f6f6 100%);
  }

  .article-hover-linear-dark::before {
    background: linear-gradient(315deg, rgb(104 104 104 / 0%) 0%, #2c2c2c 100%);
  }

  .debug {
    @apply border border-dashed;
    border-color: red;
  }
  .debug-green {
    @apply border border-dashed;
    border-color: #4d7c0f;
  }
}

.header-layout-community-brief {
  .tippy-box[data-placement^=bottom][data-state='visible'] {
    transform: translateY(1px) !important;
  }
}